
a {
    text-decoration: none;
}

img {
    vertical-align: top;
}

.d-flex {
    display: flex;
}

.fd-column{
    flex-direction: column;
}

// 對齊相關
.jc-center{
    justify-content: center;
}

.jc-center{
    justify-content: end;
}

.jc-between{
    justify-content: space-between;
}

.jc-around{
    justify-content: space-around;
}

.ai-center{
    align-items: center;
}

.ta-center{
    text-align: center;
}

.ta-end{
    text-align: end;
}




// 文字
.title {
    font-size: 4rem;
}

.medium{
    font-size: 1.25rem;
}

// 顏色相關
.dark{
    color: $dark-color;
}

.light{
    color: $light-color;
}

.bg-light{
    background: $light-color;
}

.bg-dark{
    background: $dark-color;
}

// 間距
.basicPadding {
    padding: 10rem 0;
}

.mb-24{
    margin-bottom: 1.5rem;
}

.mr-12{
    margin-right: 0.75rem;
}

// 樣式
.btn{
    padding: 0.75rem 1.5rem;
    border-radius: 32px;
}